{% import '@pulsar/pulsar/v2/helpers/html.html.twig' as html %}
{% import '@pulsar/pulsar/v2/helpers/form.html.twig' as form %}
{% import '@pulsar/pulsar/v2/helpers/flash.html.twig' as flash %}
{% import '@pulsar/pulsar/v2/helpers/nav.html.twig' as nav %}
{% set cssPath  = '../../css/' %}
{% set imgPath  = 'vendor/jadu/pulsar/images/' %}
{% set jsPath   = 'vendor/jadu/pulsar/js/' %}
{% set libsPath = 'vendor/jadu/pulsar/libs/' %}
{% set themeFile = '' %}
<!DOCTYPE html>
<!--[if IE 7]>         <html lang="en" class="no-js ie7 lt-ie10 lt-ie8"><![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js ie8 lt-ie10 lt-ie9"><![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"><!--<![endif]-->
<head>
    <title>{% block title %}Pulsar Lexicon{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie7' ~ themeFile ~ '.min.css' }}" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie8' ~ themeFile ~ '.min.css' }}" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar-ie9' ~ themeFile ~ '.min.css' }}" /><![endif]-->
    <!--[if gt IE 9]><!-->
    <link rel="stylesheet" type="text/css" href="{{ cssPath ~ 'pulsar' ~ themeFile ~ '.css' }}" />
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ libsPath ~ 'html5shiv/dist/html5shiv.js' }}"></script>
    <script type="text/javascript" src="{{ libsPath ~ 'nwmatcher/src/nwmatcher.js' }}"></script>
    <script type="text/javascript" src="{{ libsPath ~ 'selectivizr/selectivizr.js' }}"></script>
    <script type="text/javascript" src="{{ libsPath ~ 'respond/dest/respond.min.js' }}"></script>
    <![endif]-->

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="../../js/bundle.js"></script>
<script src="../../js/main.js"></script>

</head>
<body class="language-html">

{% block body %}
    <div role="main" class="container" id="top">
        <div class="inner-wrapper">
            {{ nav.primary({ 'data': nav_data|default() }) }}

            {% include '@pulsar/pulsar/components/flash.html.twig' %}

            <div class="toolbar">

                <button class="mobile-menu-button t-mobile-menu-button" aria-expanded="false" aria-controls="aria-main-nav" aria-label="Toggle main menu">Menu</button>

                {% block notifications %}{% endblock %}

                <div class="nav-user">
                {% block user_menu %}
                {{
                    html.button_dropdown({
                        'parent_class': 'dropdown user-menu btn--naked',
                        'label': 'Paul Stanton',
                        'items': [
                            html.link({
                                "label": html.icon('user') ~ " My details",
                                "href": "#foo"
                            }),
                            html.link({
                                "label": html.icon('key') ~ " Change password",
                                "href": "#foo"
                            }),
                            html.divider(),
                            html.link({
                                "label": html.icon('power-off') ~ " Sign out",
                                "href": "#foo"
                            })
                        ]
                    })
                }}
                {% endblock %}
                </div>

                {% include '@pulsar/pulsar/components/nav_help.html.twig' %}

            </div>

            {% block search %}
            <form action="/search" class="main-search" data-ui="search-box">
                <input type="search" name="q" id="case-search" value="" placeholder="Search" title="search" class="main-search__field" autocomplete="off" aria-labelledby="search-submit">
                <button id="search-submit" class="main-search__submit" type="submit" name="case-search"><i class="icon-search"><span class="hide">Search</span></i></button>
            </form>
            {% endblock %}

            <div class="content-main">
                <div class="tabs__content">
                    {{ nav.breadcrumbs(breadcrumbs|default) }}

                    {% set _ribbon = '' %}
                    {% set _ribbon = block('ribbon') %}
                    {% if _ribbon is not empty %}
                        {% block ribbon_content %}
                            <div class="ribbon-wrapper">
                                <header class="ribbon">
                                    {{ _ribbon|raw }}
                                </header>
                            </div>
                        {% endblock %}
                    {% else %}
                        <h1 class="main-title">{{ heading|default('MISSING HEADING')|raw }}</h1>
                    {% endif %}

                    {% block tabs_list %}{% endblock %}
                    {% block tabs_content %}{% endblock %}
                </div>
            </div>

            <div class="tab-help-container t-tab-help-container"><div class="tab-help"></div></div>
        </div>
    </div>

    <footer class="footer">
        {{
            html.link({
                'label': html.icon('circle-arrow-up', { 'label': 'Back to top' }),
                'href': '#top'
            })
        }}
        {{
            html.link({
                'label': 'Jadu Continuum',
                'href': '/jadu/version.php',
                'class': 'branding-footer'
            })
        }}
        &copy; {{ ''|date('Y') }}
    </footer>

    <div id="modal" class="modal" role="dialog" aria-hidden="true">
        <!-- empty modal for ajax requests -->
    </div>

    <div class="modal modal--large" id="themeChooser" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="themeChooser-title" aria-describedby="themeChooser-description">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="modal__title" id="themeChooser-title">Themes</h1>
            </div>
            <div class="modal__body">
                <p id="themeChooser-description" class="hide">Choose a theme category from the list to see what themes are available.</p>
                <div class="g-col g-col--3 g-col--first">
                    <h2 class="heading--small">Categories</h2>
                        <ul class="list--naked tabs__list">
                            <li class="is-active"><a href="#themes_demo" data-toggle="tab">Demo themes</a></li>
                            <li><a href="#themes_education" data-toggle="tab">Education &amp; Schools</a></li>
                            <li><a href="#themes_events" data-toggle="tab">Events &amp; Venues</a></li>
                            <li><a href="#themes_local" data-toggle="tab">Local authority</a></li>
                            <li><a href="#themes_leisure" data-toggle="tab">Leisure &amp; Tourism</a></li>
                            <li><a href="#themes_research" data-toggle="tab">Research</a></li>
                            <li><a href="#themes_services" data-toggle="tab">Services</a></li>
                        </ul>
                        {{
                            html.panel({
                                'body': '<small>Find more themes in the ' ~ html.link({'label': 'Jadu Library', 'href': 'https://www.jadu.net/library/'}) ~ '</small>'
                            })
                        }}
                </div>
                <div class="tabs__content g-col g-col--9">
                    <div id="themes_demo" class="tab__pane u-margin-top-none is-active g-col g-col--12">
                        <h2 class="heading--small g-col g-col--12 g-col-push--1 g-col--first">Choose a theme</h2>
                        <div class="row u-margin-bottom--large">
                            <div class="card g-col g-col--5 g-col-push--1 g-col--first u-text-align-center">
                                <img src="https://images.template.net/wp-content/uploads/2014/10/18072634/Responsive-Hotel-Google-Website-Template.jpg" class="card-img">
                                <div class="card__body">
                                    <a href="#cta-one" class="card-link">Theme Name</a>
                                </div>
                            </div>
                            <div class="card g-col g-col--5 g-col-push--1 u-text-align-center">
                                <img src="https://images.template.net/wp-content/uploads/2017/08/Classified-Drupal-Theme-Template.jpg" class="card-img">
                                <div class="card__body">
                                    <a href="#cta-one" class="card-link">Theme Name</a>
                                </div>
                            </div>
                        </div>
                        <div class="row u-margin-bottom--large">
                            <div class="card g-col g-col--5 g-col-push--1 u-text-align-center">
                                <img src="https://images.template.net/wp-content/uploads/2014/10/18103102/Responsive-Multi-Purpose-Joomla-Google-Website-Theme.jpg" class="card-img">
                                <div class="card__body">
                                    <a href="#cta-one" class="card-link">Theme Name</a>
                                </div>
                            </div>
                            <div class="card g-col g-col--5 g-col-push--1 g-col--first u-text-align-center">
                                <img src="https://images.template.net/wp-content/uploads/2014/10/18103342/Professional-Photographer-Googlw-Website-Template.jpg" class="card-img">
                                <div class="card__body">
                                    <a href="#cta-one" class="card-link">Theme Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="themes_education" class="tab__pane u-margin-top-none g-col g-col--12">
                        <h2 class="heading--small g-col g-col--12 g-col-push--1 g-col--first">Choose a theme</h2>
                        <div class="row u-margin-bottom--large">
                            <div class="card g-col g-col--5 g-col-push--1 g-col--first u-text-align-center">
                                <img src="https://images.template.net/wp-content/uploads/2014/10/18105151/Small-Business-Responsive-google-Website-Template.jpg" class="card-img">
                                <div class="card__body">
                                    <a href="#cta-one" class="card-link">Theme Name</a>
                                </div>
                            </div>
                            <div class="card g-col g-col--5 g-col-push--1 u-text-align-center">
                                <img src="https://images.template.net/wp-content/uploads/2014/10/18104950/Responsive-Hotel-Travel-google-Website-Template.jpg" class="card-img">
                                <div class="card__body">
                                    <a href="#cta-one" class="card-link">Theme Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="themes_events" class="tab__pane u-margin-top-none g-col g-col--12">
                        <h2 class="heading--small g-col g-col--12 g-col-push--1 g-col--first">Choose a theme</h2>
                        <div class="no-results g-col g-col--11 g-col-push--1 g-col--first">
                            <div class="no-results__message">
                                <p>There are currently no themes to display</p>
                            </div>
                        </div>
                    </div>
                    <div id="themes_local" class="tab__pane u-margin-top-none g-col g-col--12">
                        <h2 class="heading--small g-col g-col--12 g-col-push--1 g-col--first">Choose a theme</h2>
                        <div class="no-results g-col g-col--11 g-col-push--1 g-col--first">
                            <div class="no-results__message">
                                <p>There are currently no themes to display</p>
                            </div>
                        </div>
                    </div>
                    <div id="themes_leisure" class="tab__pane u-margin-top-none g-col g-col--12">
                        <h2 class="heading--small g-col g-col--12 g-col-push--1 g-col--first">Choose a theme</h2>
                        <div class="no-results g-col g-col--11 g-col-push--1 g-col--first">
                            <div class="no-results__message">
                                <p>There are currently no themes to display</p>
                            </div>
                        </div>
                    </div>
                    <div id="themes_research" class="tab__pane u-margin-top-none g-col g-col--12">
                        <h2 class="heading--small g-col g-col--12 g-col-push--1 g-col--first">Choose a theme</h2>
                        <div class="no-results g-col g-col--11 g-col-push--1 g-col--first">
                            <div class="no-results__message">
                                <p>There are currently no themes to display</p>
                            </div>
                        </div>
                    </div>
                    <div id="themes_services" class="tab__pane u-margin-top-none g-col g-col--12">
                        <h2 class="heading--small g-col g-col--12 g-col-push--1 g-col--first">Choose a theme</h2>
                        <div class="no-results g-col g-col--11 g-col-push--1 g-col--first">
                            <div class="no-results__message">
                                <p>There are currently no themes to display</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__footer">
                {{
                    form.submit({
                        'class': 'btn--primary',
                        'label': 'Save'
                    })
                }}
                {{
                    html.button({
                        'class': 'btn--naked',
                        'label': 'Cancel',
                        'data-dismiss': 'modal'
                    })
                }}
            </div>
        </div><!-- /.modal__content -->
    </div><!-- /.modal__dialog -->
</div><!-- /.modal -->

{% endblock body %}

{% block javascript %}{% endblock %}
{% block tab_javascript %}{% endblock %}
</body>
</html>
